html{
    background-color: black;
}
.form{
    width:300px;
    height:40px;
    padding:8px;
    margin:10px 10px 10px 450px;
    border:none;
    justify-items: center;
    align-items: center;
}
.Movie_list{
    max-width:200%;
    margin:100px;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}
.Movie_cards{
    margin:10px;
}
.Movie_image{
    max-width: 70%;
    width:200px;
}
.Movie_title{
    color:white;
    align-items: center;
    width:270px;
}
.button_sm{
    background-color: red;
    color:black;
}
form i{
    position:absolute;
    left:630px;
    top:115px;
}
.input{
    
    margin-top:1px;
}
